
body {
    font: 100% Arial, "Times New Roman", Times, serif;
    margin: 0;
    background-color: #283593;
}
.header {
    background-color: #283593;
    display: flex;
    color: #FFF;
    align-items: center;

}

.hat {
    width: 55px;
    height: 44px;
    padding-left: 30px;
    padding-right: 30px;
}

.list {
    background-color: #c5cae9;
    padding: 20px 30px;
    font-size: 1.2rem;
    
}

.list ol {
    line-height: 1.6;
}

.button {
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 6px;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgb(16, 14, 39);
    color: #FFFF00;
}