@charset "UTF-8";
html {
    background: #BDD4DE;
}
body {
    font: 100% Arial, "Times New Roman", Times, serif;
    line-height: 1.4;
    width: 90%;
    margin: 0 auto;
    color: #2B3A42;
}
.hat {
    width: 55px;
    height: 44px;
}
div.grid-title {
    display: grid;
    grid-template-columns: 60px 600px;
}
div.grid-it {
    height: 80px;
    position: relative;
}
div.grid-it img {
    position: absolute;
    bottom: 0;
}
div.grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 50px 200px 60px;
}
div.grid-button {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 50px 400px;
}
div.footer {
    display: grid;
    padding-right: 200px;
}
h1 {
    font-size: 2em;
    font-weight: normal;
    color: #2B3A42;
    border-bottom: 2px solid #333;

}

h2 {
    font-size: 1.75em;
    margin: 0 0 .1em;
}

h3 {
    font-size: 1.4em;
    margin: 0 0 .5em;
    font-weight: normal;
}
p {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 0 1em;
}
.lk {
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 1em;
}
td {
    font-size: .95em;
    text-align: left;
    padding-right: 20px;
    /*padding:0 20px;*/
}
th {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 3px;
    /*padding:0 20px;*/ 
}
tr:nth-child(even) {
    font-size: 1.25em;
    background-color: #a8a7a8;
}

tr {
    font-size: 1.25em;
}
.Game1 {
  color: 'black';
  font-family: Arial, Helvetica, sans-serif;
  
}
.Game2 {
    color: 'black';
    font-family: Arial, Helvetica, sans-serif;
}
.Game3 {
    color: 'black';
    font-family: Arial, Helvetica, sans-serif;
}
input[type="text"]{
    width: 12em;
    padding: 5px;
    margin: 10px, 10px, 10px, 0;
    background-color: #fdedec;
}
a:link, a:visited {
    font-size: 1em;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: rgb(16, 14, 39);
    color: rgb(43, 204, 209);
}
button {
    font-size: 1em;
    width: 100px;
    height: 30px;
}
.game:hover, button.game:active {
    background-color: rgb(7, 7, 7);
    color: rgb(237, 253, 6);
}
.link {
    font-size: 1em;
    width: 300px;
    height: 30px; 
}
button:hover, button:active {
    background-color: rgb(47, 0, 255);
    color: white;
}

